@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Sono&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Sono", sans-serif;
}

h1,
a,
span {
  font-family: "Roboto Condensed", sans-serif;
}

header {
  background-color: #999999;
}

.nav-link:hover {
  color: black;
}
.nav-link {
  color: white;
}

.nav-item a {
  transition: 0.4s;
}

.nav-item a:hover {
  transform: scale(1.05);
}

main {
  min-height: 100vh; /* PARA DEJAR EL FOOTER SIEMPRE ABAJO */
  background-image: linear-gradient(
    to bottom,
    #8090a8,
    #a2aabd,
    #c2c5d2,
    #e1e1e8,
    #ffffff
  );
}

.fondo {
  /* aplico la imagen de fondo y le doy el efecto de transparencia*/
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0 0 0 / 0.65), rgb(0 0 0 / 0.65)),
    url(./../assets/images/fondo-index.png);
  background-size: cover;
  background-position: center;
}

.fondoTexto {
  /* acomodo el texto de arriba de la imagen*/
  color: white;
  text-align: center;
  width: 50%;
}

form {
  /* personalizo el formulario */
  padding: 16px;
  border-radius: 10px;
  background-color: rgba(10, 125, 202, 0.644);
}

form input[type="text"], /* personalizo el formulario */
form input[type="email"] {
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  margin: 8px 0;
}

.form-group textarea {
  /* estilizo el text area */
  resize: none;
  border: 2px solid black;
}

.boton {
  /* boton de formulario con animacion */
  width: 100%;
  padding: 8px 16px;
  margin-top: 2rem;
  background-color: black;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 8px 15px rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.boton:hover {
  /* animacion de boton al pasar el mouse */
  background-color: white;
  box-shadow: 0px 15px 20px rgba(7, 125, 223, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

.boton:active {
  transform: translateY(-1px);
}

.galeria .col-lg-4 {
  /* acomodo las imagenes de la galeria */
  margin: 0px;
  padding: 25px;
}
.galeria img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  transition: 0.5s all ease;
}

.galeria img:hover {
  /* Al pasar el mouse sobre la imagen hace animacion de agrandarse */
  transform: scale(1.2);
}

.paddingAbout {
  /* Le doy un padding a la pagina de sobre nosostros para que quede mas prolija*/
  margin-top: 6%;
}

.agrandadoParrafo {
  font-size: 19px;
  color: white;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: auto;
  height: 30px;
}
