/* variable para el if, si es true la navbar se cambia a negro y si es false cambia a su color normal */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Sono&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Sono", sans-serif;
}

h1,
a,
span {
  font-family: "Roboto Condensed", sans-serif;
}

main {
  min-height: 100vh;
  /* PARA DEJAR EL FOOTER SIEMPRE ABAJO */
  background-image: linear-gradient(
    to bottom,
    #879cbd,
    #a2aabd,
    #c2c5d2,
    #9a9a9e,
    #a5a1a1
  );
}

header {
  background-image: linear-gradient(
    to bottom,
    #1c68da,
    #326cc4,
    #466fad,
    #728aad,
    #7c889b
  );
}
header .nav-item a {
  transition: 0.4s;
}
header .nav-item a:hover {
  transform: scale(1.05);
}

.nav-link {
  color: white;
}
.nav-link:hover {
  transition: 0.4s;
}

footer {
  text-align: center;
  background-color: Black;
  color: white;
  margin-top: auto;
  width: none;
  height: 30px;
}

.fondo {
  background-image: url(./../../assets/images/fondo-index.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.fondoTexto {
  /* acomodo el texto de arriba de la imagen*/
  color: white;
  text-align: center;
  width: 50%;
  height: none;
}

form {
  /* personalizo el formulario */
  margin: none;
  padding: 16px;
  border-radius: 10px;
  background-color: rgba(10, 125, 202, 0.644);
}
form .formInput {
  border: 2px solid Black;
  background-color: white;
  margin: 8px 0;
  padding: none;
}
form .form-group textarea {
  resize: none;
  border: 2px solid Black;
}

.boton {
  /* boton de formulario con animacion */
  width: 100%;
  height: none;
  margin: none;
  padding: 8px 16px;
  margin-top: 2rem;
  background-color: Black;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 8px 15px black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.boton:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(7, 125, 223, 0.4);
  color: black;
  transform: translateY(-7px);
}
.boton:active {
  transform: translateY(-1px);
}

.galeria .col-lg-4 {
  margin: 0px;
  padding: 25px;
}

.galeria img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  transition: 0.5s all ease;
}
.galeria img:hover {
  transform: scale(1.1);
}

.paddingAbout {
  /* Le doy un padding a la pagina de sobre nosostros para que quede mas prolija*/
  margin-top: 6%;
}

.agrandadoParrafo {
  font-size: 19px;
  color: white;
}
