footer {
    text-align: center;
    background-color: map-get($map: $colores, $key: Negro);
    color: map-get($map: $colores, $key: Blanco);
    margin-top: auto;
    @include tamanios(none, 30px);
}