
header {
    background-image: map-get($map: $colores, $key: Navbar);
}

.nav-link{
    color: white;
    &:hover{
      transition: 0.4s;
    }
}

.nav-item{
    a{
      transition: 0.4s;
       &:hover{
      transform: scale(1.05);
      }
     }
}