@import "./utilities/variables";

@import "./utilities/normalize";

@import "./bloques_codigo_repetido/header";

@import "./bloques_codigo_repetido/footer";

@import "./paginas/pag-principal";

@import "./paginas/contacto";

@import "./paginas/galeria";

@import "./paginas/about";

@import "./paginas/servicios";
