form {
    /* personalizo el formulario */
    padding: 16px;
    border-radius: 10px;
    background-color: rgba(10, 125, 202, 0.644);
    .formInput{
      border: 2px solid map-get($map: $colores, $key: Negro);
      background-color: map-get($map: $colores, $key: Blanco);
      margin: 8px 0;
    }
    .form-group{
      textarea{
        resize: none;
        border: 2px solid map-get($map: $colores, $key: Negro);
      }
    }
  
}

.boton {
    /* boton de formulario con animacion */
    width: 100%;
    padding: 8px 16px;
    margin-top: 2rem;
    background-color: map-get($map: $colores, $key: Negro);
    border-radius: 5px;
    color: map-get($map: $colores, $key: Blanco);
    box-shadow: 0px 8px 15px rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    &:hover{
      background-color: map-get($map: $colores, $key: Blanco);
      box-shadow: 0px 15px 20px rgba(7, 125, 223, 0.4);
      color: rgb(0, 0, 0);
      transform: translateY(-7px);
    }
    &:active{
      transform: translateY(-1px);
    }
}
  
  