.galeria {
    .col-lg-4 {
      @include separaciones(0px, 25px);
    }
    img {
      @include tamanios(100%, 250px);
      border-radius: 10px;
      transition: 0.5s all ease;
      &:hover{
        transform: scale(1.1);
      }
    }
}
  