.fondo {
    background-image: $imagenDeFondo;
    @include tamanios(100%, 100vh);
    @include flex(center, center);
    background-size: cover;
    background-position: center;
}

  
.fondoTexto {
  /* acomodo el texto de arriba de la imagen*/
  color: map-get($map: $colores, $key: Blanco);
  text-align: center;
  @include tamanios(50%, none);
}