$fuentePrincipal: "Sono", sans-serif;

$fuenteSecundaria: "Roboto Condensed", sans-serif;

$imagenDeFondo: url(./../../assets/images/fondo-index.jpg);

$colorBlanco: white;

$colorNegro: Black;

$coloNavbar: #999999;
